In [54]:
!pip install pandas

Requirement already satisfied: pandas in ./venv/lib/python3.13/site-packages (2.3.3)
Requirement already satisfied: numpy>=1.26.0 in ./venv/lib/python3.13/site-packages (from pandas) (2.3.5)
Requirement already satisfied: python-dateutil>=2.8.2 in ./venv/lib/python3.13/site-packages (from pandas) (2.9.0.post0)
Requirement already satisfied: pytz>=2020.1 in ./venv/lib/python3.13/site-packages (from pandas) (2025.2)
Requirement already satisfied: tzdata>=2022.7 in ./venv/lib/python3.13/site-packages (from pandas) (2025.3)
Requirement already satisfied: six>=1.5 in ./venv/lib/python3.13/site-packages (from python-dateutil>=2.8.2->pandas) (1.17.0)

In [55]:
!pip install openpyxl

Requirement already satisfied: openpyxl in ./venv/lib/python3.13/site-packages (3.1.5)
Requirement already satisfied: et-xmlfile in ./venv/lib/python3.13/site-packages (from openpyxl) (2.0.0)

In [56]:
import pandas as pd

In [57]:
df = pd.read_excel("review.xlsx")

In [58]:
df.head()

   id                                             review               class
0  39  Make it like better with a giant pig bigger th...     feature request
1  42  These screens are small enough without crowdin...  information giving
2  49  Dear Rovio; If you absolutely must continue tr...  information giving
3  56      App crashes when new power up notice pops up.   problem discovery
4  62  It would be nice to have an update that didn  ...  information giving

In [59]:
df['class'].value_counts()

class
information giving     603
problem discovery      494
feature request        192
information seeking    101
Name: count, dtype: int64

In [66]:
#removing extra id column
df_id_removed = df.drop(columns=['id'])
df_id_removed.head()

                                              review               class
0  Make it like better with a giant pig bigger th...     feature request
1  These screens are small enough without crowdin...  information giving
2  Dear Rovio; If you absolutely must continue tr...  information giving
3      App crashes when new power up notice pops up.   problem discovery
4  It would be nice to have an update that didn  ...  information giving

In [69]:
#encoding target labels
#reference https://pbpython.com/categorical-encoding.html
find_replace = {"class":     {"feature request": 0, "problem discovery": 1, "information giving": 2, "information seeking": 3}}
target_encoded_df = df_id_removed.replace(find_replace)
target_encoded_df.head()

/tmp/ipykernel_2755/349531014.py:4: FutureWarning: Downcasting behavior in `replace` is deprecated and will be removed in a future version. To retain the old behavior, explicitly call `result.infer_objects(copy=False)`. To opt-in to the future behavior, set `pd.set_option('future.no_silent_downcasting', True)`
  target_encoded_df = df_id_removed.replace(find_replace)

                                              review  class
0  Make it like better with a giant pig bigger th...      0
1  These screens are small enough without crowdin...      2
2  Dear Rovio; If you absolutely must continue tr...      2
3      App crashes when new power up notice pops up.      1
4  It would be nice to have an update that didn  ...      2

In [72]:
target_encoded_df['class'].value_counts()

class
2    603
1    494
0    192
3    101
Name: count, dtype: int64